---
layout: default
---

<div class="home">
  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      {%- assign post_lang = post.lang | default: "zh" -%}
      {%- assign post_slug = post.url | split: "/" | last | split: "." | first -%}
      <li data-lang="{{ post_lang }}" data-has-translation="{% if site.data.languages.pairs[post_slug] %}true{% else %}false{% endif %}">
        <span class="post-meta">
          {{ post.date | date: date_format }}
          {%- if post.translated -%}
            <span class="translation-badge">{{ site.data.ui[post_lang].translated }}</span>
          {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          {%- if post.lang -%}
            <span class="lang-indicator">{{ post.lang | upcase }}</span>
          {%- endif -%}
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        
        {%- comment -%} Show translation link if available {%- endcomment -%}
        {%- assign translation_key = post_slug -%}
        {%- if site.data.languages.pairs[translation_key] -%}
          {%- assign translation_slug = site.data.languages.pairs[translation_key] -%}
          {%- for translation_post in site.posts -%}
            {%- assign trans_slug = translation_post.url | split: "/" | last | split: "." | first -%}
            {%- if trans_slug == translation_slug -%}
              <div class="translation-link">
                {%- if post_lang == "en" -%}
                  {%- assign other_lang = "zh" -%}
                {%- else -%}
                  {%- assign other_lang = "en" -%}
                {%- endif -%}
                <a href="{{ translation_post.url | relative_url }}">
                  {{ site.data.ui[post_lang].view_in_language }} {{ site.lang_names[other_lang] }}
                </a>
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
